{% style %}

#shopify-section-{{ section.id }} {
	background: {{ section.settings.bg }};
	padding: {{ section.settings.hb }}px 0;
}

.reassurance {
	display: flex;
    flex-wrap: wrap;
	align-items: end;
}

.elem {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px {{ section.settings.dg }}px;
}

.rea-img {
    margin-bottom: 25px;
}

.elem h3 {
	color: {{ section.settings.color-title }};
}

.elem p {
	color: {{ section.settings.color-content }};
}

@media screen and (max-width:780px) {
	.elem {
		margin: 25px;
	}
}

{% endstyle %}

{% for block in section.blocks %}
	{% if forloop.index == 1 %}
		{% assign variable = "whole" %}
	{% elsif forloop.index == 2 %}
		{% assign variable = "half" %}
	{% elsif forloop.index == 3 %}
		{% assign variable = "third" %}
	{% else %}
		{% assign variable = "quarter" %}
	{% endif %}
{% endfor %}

<div class="page-width">
  	<div class="reassurance">
      {% for block in section.blocks %}
      <div class="small--one-whole medium-up--one-{{ variable }} elem text-center">
        {% if block.settings.image %}
        	<img src="{{ block.settings.image.src | img_url: '800x' }}" alt="{{ block.settings.image.alt }}" class="rea-img" width="{{ block.settings.img-size }}px">
        {% else %}
        	<img src="https://cdn.onlinewebfonts.com/svg/img_453179.png" alt="shipping-fast" class="rea-img" width="{{ block.settings.img-size }}px">
        {% endif %}
        <h3>{{ block.settings.title }}</h3>
        <p>{{ block.settings.content }}</p>
      </div>
      {% endfor %}
  	</div>
</div>

{% schema %}
{
  "name": "O.K.L.M",
  "class": "reassurances",
  "max_blocks": 4,
  "settings": [
	{
		"type": "header",
		"content": "👉 RÉGLAGES GÉNÉRAUX"
	},
	{
       "type": "color",
       "id": "bg",
       "label": "Couleur de fond des réassurances",
       "default": "#ffffff"
    },
	{
        "type": "range",
        "id": "hb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Marge haut/bas de la section",
        "default": 15
    },
	{
		"type": "header",
		"content": "👉 RÉGLAGES REASSURANCE"
	},
	{
       "type": "color",
       "id": "color-title",
       "label": "Couleur du titre des réassurances",
       "default": "#000000"
    },
	{
       "type": "color",
       "id": "color-content",
       "label": "Couleur du contenu des réassurances",
       "default": "#000000"
    },
	{
        "type": "range",
        "id": "dg",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Marge interne droite/gauche de la carte",
        "default": 2
    }
  ],
  "blocks": [
	{
      "name": "REASSURANCE",
      "type": "select",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Icone réassurance1"
        },
        {
            "type": "range",
            "id": "img-size",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Taille personnalisée de l'image",
            "default": 80
        },
		{
           "type": "text",
           "id": "title",
           "label": "Titre de l'assurance",
		    "default": "Titre"
        },
		{
           "type": "textarea",
           "id": "content",
           "label": "Contenu de l'assurance",
		    "default": "Lorem ipsum dolor si amet Lorem ipsum dolor si amet"
        }
      ]
	}
  ],
  "presets": [
    {
      "name": "O.K.L.M",
      "category": "oklm"
	}
  ]
}
{% endschema %}

